* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: darkblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Imposta l'altezza minima del body al 100% della viewport height */
    background: url('sfondo_ai.jpg');
    background-size: cover;
    padding-top: calc(60px + 20px); /* Altezza della barra di navigazione + spazio sopra il corpo */
    overflow-y: auto; /* Abilita lo scroll verticale se necessario */
}

header img {
    width: 60px;
    height: 60px;
}

.barra_navigazione a {
    position: relative ;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 90px;
}

.barra_navigazione a:hover {
    color: white;
}

.barra_navigazione a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: 0.5s;
}

.barra_navigazione a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
    color: black;
}

.barra_navigazione #btnlogout {
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.barra_navigazione #btnlogout:hover {
    background-color: white;
    color: darkblue;
}







#formModificaDati {
    position: sticky;
    top: 0; /* Imposta la distanza dalla parte superiore del contenitore scrollabile */
    width: 460px;
    margin-top: 150px;
    margin-bottom: 50px; /* Aggiungi uno spazio di 50px alla fine del form */
    background: #f2f2f2;
    border: 2px solid rgb(230, 230, 230);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    padding: 30px 40px;
    z-index: 1; /* Assicura che il form sia sovrapposto al contenuto dello scrolling */
}



#formModificaDati #btnModificaDati{
    width: 100%;
    height: 45px;
    border-radius: 45px;
    line-height: 40px; /*altezza verticale del testo login*/
    font-weight: 600;
    cursor: pointer; /*cursore diverso*/
    margin-top: 20px;
}

#formModificaDati h1{
    font-size: 36px;
    text-align: center;
}

#formModificaDati input{
    width: 100%;
    height: 50px;
    background: transparent;
    outline: none;
    border: 2px solid black;
    border-radius: 40px;
    font-size: 15px;
    padding: 20px;
}


#formModificaDati #error-alert-modifica {
    margin-top: -20px;
    background-color: #f44336; /* Colore di sfondo rosso */
    color: white; /* Colore del testo bianco */
    border-radius: 5px; /* Angoli arrotondati */
    padding: 10px; /* Spazio interno */
    margin-bottom: 20px; /* Margine inferiore per separare da altri contenuti */
    display: none; /* Inizialmente nascosto */
}

#formModificaDati #success-alert-modifica {
    margin-top: -20px;
    background-color: #4CAF50; /* Colore di sfondo verde */
    color: white; /* Colore del testo bianco */
    border-radius: 5px; /* Angoli arrotondati */
    padding: 10px; /* Spazio interno */
    margin-bottom: 20px; /* Margine inferiore per separare da altri contenuti */
    display: none; /* Inizialmente nascosto */
}



/* Stili per il menu a tendina */
#language-buttons-container {
    font-size: 18px;
    position: absolute;
    top: 100px;
    right: 0;
    margin: 0px; /* Aggiungi margine per allontanare dal bordo */
}


.dropbtn {
    border: 2px solid black; /* Aggiungi bordo nero */
    border-radius: 5px; /* Aggiungi bordi arrotondati */
    background-color: white; /* Sfondo bianco */
    color: black; /* Colore del testo nero */
    padding: 15px 25px; /* Spaziatura interna */
    cursor: pointer; /* Cambia il cursore al passaggio del mouse */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content button {
    width: 100%;
    text-align: left;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.dropdown-content button:hover {
    background-color: #f1f1f1;
}



@media screen and (max-width: 768px) {
    .barra_navigazione {
        text-align: center;
    }

    .barra_navigazione a {
        display: block;
        margin: 10px 0; /* Aggiunge spazio sopra e sotto ogni voce del menu */
        margin-top: 10px;
    }

    /* Aggiungi margine sopra e sotto solo quando la voce del menu va a capo */
    .barra_navigazione a:nth-child(n+2) {
        margin-top: 20px; /* Altezza desiderata sopra la voce del menu */
        margin-bottom: 20px; /* Altezza desiderata sotto la voce del menu */
    }

    body {
        margin-top: 300px !important; /* Aggiungi spazio sopra il contenuto del body */
        margin-bottom: 150px !important;
    }
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header img {
        margin-bottom: 20px; /* Aggiungi margine tra il logo e il menu */
    }

    #language-buttons-container {
        position: fixed; /* Posiziona il contenitore fisso */
        top: 10px; /* Posiziona il contenitore sotto l'header */
        width: 100%;
        padding: 10px 0;
        text-align: center;
        z-index: 999;
    }
    .dropdown-content {
        left: 50%;
        transform: translateX(-50%);
    }    
    
}

