* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('sfondo_ai.jpg');
    background-size: cover;
    padding-top: 260px; /* Spazio sopra il corpo per la barra di navigazione */
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px !important;
    background-color: darkblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

header img {
    width: 60px;
    height: 60px;
}

.barra_navigazione a {
    position: relative ;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 90px;
}

.barra_navigazione a:hover {
    color: white;
}

.barra_navigazione a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: 0.5s;
}

.barra_navigazione a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
    color: black;
}

.barra_navigazione #btnlogout {
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.barra_navigazione #btnlogout:hover {
    background-color: white;
    color: darkblue;
}

/* Stili per il form di caricamento delle immagini */
#imageForm {
    padding: 20px;
    border: 2px solid #007bff;
    border-radius: 10px;
    background-color: #f0f8ff;
    text-align: center;
}

#fileInput {
    margin-bottom: 20px;
    padding: 10px;
    width: calc(100% - 20px);
    border: 2px dashed #007bff;
    border-radius: 5px;
    background-color: #fff;
    font-size: 16px;
    outline: none;
}

#fileInput:hover {
    background-color: #f9f9f9;
}

#fileInput:focus {
    border-color: #0056b3;
}

#imageForm button[type="submit"] {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#resultContainer {
    margin-top: 20px;
    padding: 20px;
    border: 2px solid #007bff;
    border-radius: 10px;
    background-color: #f0f8ff;
}

/* Stili per il menu a tendina */
#language-buttons-container {
    font-size: 18px;
    position: absolute;
    top: 100px;
    right: 0;
    margin: 0px; /* Aggiungi margine per allontanare dal bordo */
}

.dropbtn {
    border: 2px solid black; /* Aggiungi bordo nero */
    border-radius: 5px; /* Aggiungi bordi arrotondati */
    background-color: white; /* Sfondo bianco */
    color: black; /* Colore del testo nero */
    padding: 15px 25px; /* Spaziatura interna */
    cursor: pointer; /* Cambia il cursore al passaggio del mouse */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content button {
    width: 100%;
    text-align: left;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.dropdown-content button:hover {
    background-color: #f1f1f1;
}

#success-alert-carica {
    margin-top: 50px; /* Imposta la distanza desiderata dal form di caricamento immagine */
    padding: 20px;
    background-color: #4CAF50;
    color: white;
    margin-bottom: 15px;
    text-align: center;
}

#error-alert-carica, #error-alert-invalid-format{
    margin-top: 50px; /* Imposta la distanza desiderata dal form di caricamento immagine */
    padding: 20px;
    background-color: #f44336;
    color: white;
    margin-bottom: 15px;
    text-align: center;
}

.loading-spinner {
    display: none;
    width: 100%;
    height: 10px;
    margin-top: 20px; 
}

.loading-bar {
    width: 100%;
    height: 100%;
    background-color: #f0f8ff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.loading-progress {
    width: 0;
    height: 100%;
    background-color: #007bff;
    transition: width 2s linear; /* Imposta la transizione lineare per riempire in 2 secondi */
}


#language-buttons-mobile {
    display: none;
}


/* Nascondiamo il menu burger per dispositivi con larghezza maggiore di 768px */
@media screen and (min-width: 768px) {
    #mobileMenu {
        display: none;
    }

}


/* Stili per dispositivi mobili */
@media screen and (max-width: 768px) {
    /* Nascondiamo il menu di navigazione principale */
    .barra_navigazione {
        display: none;
    }

    /* Mostriamo il menu burger chiuso con l'icona */
    .burger-menu {
        display: flex;
        flex-direction: column; /* Disponiamo le linee verticalmente */
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: fixed;
        top: center;
        right: 20px;
        z-index: 1000;
        background-color: transparent;
        border: none;
    }

    /* Stile delle linee del menu burger */
    .burger-line {
        width: 30px;
        height: 3px;
        background-color: #fff; /* Cambiato il colore delle linee in bianco */
        margin: 5px;
        border-radius: 2px;
    }

    /* Stili per il menu a tendina per dispositivi mobili */
    .mobile-menu {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        width: 70%;
        height: 100vh;
        background-color: #333; /* Colore di sfondo del menu a tendina */
        padding: 20px;
        z-index: 999;
    }

    /* Stili per le voci di menu nel menu a tendina */
    .mobile-menu a {
        color: #fff; /* Colore del testo nel menu a tendina */
        text-decoration: none;
        margin-bottom: 15px; /* Spazio tra le voci di menu */
    }


    /* Stili per il menu a tendina quando aperto */
    .mobile-menu.show {
        font-size: 1.2em; /* Testo leggermente più grande */
        display: flex;
        flex-direction: column;
        transform: translateY(100px); /* Sposta verso il basso il menu di 40px quando viene aperto */
    }


        /* Stile delle linee del menu burger quando chiuso */
    .burger-line {
        width: 30px;
        height: 3px;
        background-color: white; /* Cambiato il colore delle linee in bianco */
        margin: 5px;
        border-radius: 2px;
    }

    /* Stile delle linee del menu burger quando aperto */
    .burger-menu.show .burger-line {
        background-color: darkblue; /* Cambia il colore delle linee in blu quando il menu è aperto */
        
    }

    /* Stili per il menu a tendina per dispositivi mobili */
    .mobile-menu {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        width: 70%;
        height: 100vh;
        background-color: darkblue; /* Imposta il colore di sfondo del menu a tendina quando aperto */
        padding: 20px;
        z-index: 999;
    }


    #language-buttons-container {
        display: none;
    }

    #language-buttons-mobile {
        display: block;
        font-size: 16px;
        font-family: "Poppins", sans-serif;
        margin-right: 30px;
        color: black !important;
    }

    .dropbtn {
        border: 2px solid black; /* Aggiungi bordo nero */
        border-radius: 5px; /* Aggiungi bordi arrotondati */
        background-color: white; /* Sfondo bianco */
        padding: 10px 15px; /* Spaziatura interna */
    }

    .dropdown-content button {

        color: black;
    }

    img {
        margin-left: -60px; /* Imposta il margine sinistro desiderato */
    }
}






