* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: darkblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Imposta l'altezza minima del body al 100% della viewport height */
    background: url('sfondo_ai.jpg');
    background-size: cover;
    padding-top: calc(60px + 20px); /* Altezza della barra di navigazione + spazio sopra il corpo */
    overflow-y: auto; /* Abilita lo scroll verticale se necessario */
}
header img {
    width: 60px;
    height: 60px;
}
.barra_navigazione a {
    position: relative ;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 90px;
}
.barra_navigazione a:hover {
    color: white;
}

.barra_navigazione a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: 0.5s;
}

.barra_navigazione a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
    color: black;
}

.barra_navigazione #btnlogout {
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.barra_navigazione #btnlogout:hover {
    background-color: white;
    color: darkblue;
}






/* Stile per il modale */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 150px;
    left: 0;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
  }
  
  /* Stile per il contenuto del modale */
  .modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
  }
  
  /* Stile per il pulsante di chiusura del modale */
  .close {
    position: absolute;
    top: 100px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
  }
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }


/* Stili CSS per la tabella */
#imageTable {
    border-collapse: collapse;
    width: 90%;
    margin-top: 70px; 
}

/* Contenitore per la tabella */
.container {
    height: 700px; /* Altezza fissa per il contenitore */
    max-height: 700px;
    overflow-y: auto; /* Abilita lo scorrimento verticale se necessario */
    position: relative; /* Imposta la posizione relativa per il contenitore */
}


#imageTable th, #imageTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#imageTable th {
    background-color: #f2f2f2;
}

/* Stile per la riga pari */
#imageTable tbody tr:nth-child(even) td {
    background-color: #f2f2f2; /* Grigio chiaro */
}

/* Stile per la riga dispari */
#imageTable tbody tr:nth-child(odd) td {
    background-color: white; /* Bianco */
}

#imageTable tr:hover {
    background-color: #e6e6e6; /* Cambia il colore di sfondo al passaggio del mouse */
}

/* Stili per centrare il titolo della tabella */
.table-title {
    text-align: center !important;
    font-size: 24px; /* Modifica la dimensione del font se necessario */
    font-weight: bold; /* Modifica il peso del font se necessario */
    margin-bottom: 20px; /* Aggiungi margine sotto il titolo */
    background-color: white;
}


/* Stili per il menu a tendina */
#language-buttons-container {
    font-size: 18px;
    position: absolute;
    top: 100px;
    right: 0;
    margin: 0px; /* Aggiungi margine per allontanare dal bordo */
}


.dropbtn {
    border: 2px solid black; /* Aggiungi bordo nero */
    border-radius: 5px; /* Aggiungi bordi arrotondati */
    background-color: white; /* Sfondo bianco */
    color: black; /* Colore del testo nero */
    padding: 15px 25px; /* Spaziatura interna */
    cursor: pointer; /* Cambia il cursore al passaggio del mouse */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content button {
    width: 100%;
    text-align: left;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.dropdown-content button:hover {
    background-color: #f1f1f1;
}




/* Stile per il pulsante di download */
.download-button {
    padding: 8px 16px;
    font-size: 14px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.download-button:hover {
    background-color: #0056b3;
}



/* Stile per il pulsante di elimina immagine */
.delete-button {
    padding: 8px 16px;
    font-size: 14px;
    color: #fff;
    background-color: #2e3133;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-button:hover {
    background-color: #000000;
}


.sort-icon {
    margin-left: 5px; /* Aggiungi un margine per separare l'icona dalla colonna */
}


#language-buttons-mobile {
    display: none;
}




/* Stile per il modale di conferma eliminazione */
#deleteModal {
    display: none; /* Inizialmente nascosto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* Sfondo semitrasparente */
}

.modal-content-elimina {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}


.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-buttons {
    text-align: center;
}

.modal-buttons button {
    margin: 5px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.modal-buttons button:hover {
    background-color: #f1f1f1;
}



/* Nascondiamo il menu burger per dispositivi con larghezza maggiore di 768px */
@media screen and (min-width: 768px) {
    #mobileMenu {
        display: none;
    }

}


/* Stili per dispositivi mobili */
@media screen and (max-width: 768px) {
    /* Nascondiamo il menu di navigazione principale */
    .barra_navigazione {
        display: none;
    }

    /* Mostriamo il menu burger chiuso con l'icona */
    .burger-menu {
        display: flex;
        flex-direction: column; /* Disponiamo le linee verticalmente */
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: fixed;
        top: center;
        right: 20px;
        z-index: 1000;
        background-color: transparent;
        border: none;
    }

    /* Stile delle linee del menu burger */
    .burger-line {
        width: 30px;
        height: 3px;
        background-color: #fff; /* Cambiato il colore delle linee in bianco */
        margin: 5px;
        border-radius: 2px;
    }

    /* Stili per il menu a tendina per dispositivi mobili */
    .mobile-menu {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        width: 70%;
        height: 100vh;
        background-color: #333; /* Colore di sfondo del menu a tendina */
        padding: 20px;
        z-index: 999;
    }

    /* Stili per le voci di menu nel menu a tendina */
    .mobile-menu a {
        color: #fff; /* Colore del testo nel menu a tendina */
        text-decoration: none;
        margin-bottom: 15px; /* Spazio tra le voci di menu */
    }


    /* Stili per il menu a tendina quando aperto */
    .mobile-menu.show {
        font-size: 1.2em; /* Testo leggermente più grande */
        display: flex;
        flex-direction: column;
        transform: translateY(100px); /* Sposta verso il basso il menu di 40px quando viene aperto */
    }


        /* Stile delle linee del menu burger quando chiuso */
    .burger-line {
        width: 30px;
        height: 3px;
        background-color: white; /* Cambiato il colore delle linee in bianco */
        margin: 5px;
        border-radius: 2px;
    }

    /* Stile delle linee del menu burger quando aperto */
    .burger-menu.show .burger-line {
        background-color: darkblue; /* Cambia il colore delle linee in blu quando il menu è aperto */
        
    }

    /* Stili per il menu a tendina per dispositivi mobili */
    .mobile-menu {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        width: 70%;
        height: 100vh;
        background-color: darkblue; /* Imposta il colore di sfondo del menu a tendina quando aperto */
        padding: 20px;
        z-index: 999;
    }


    #language-buttons-container {
        display: none;
    }

    #language-buttons-mobile {
        display: block;
        font-size: 16px;
        font-family: "Poppins", sans-serif;
        margin-right: 30px;
        color: black !important;
    }

    .dropbtn {
        border: 2px solid black; /* Aggiungi bordo nero */
        border-radius: 5px; /* Aggiungi bordi arrotondati */
        background-color: white; /* Sfondo bianco */
        padding: 10px 15px; /* Spaziatura interna */
    }

    .dropdown-content button {

        color: black;
    }

    img {
        margin-left: -60px; /* Imposta il margine sinistro desiderato */
    }
}



